
@font-face {
    font-family : 'serif';
    src : url('../fonts/C059-Roman.otf') format('opentype');
    font-weight : 400;
}

@font-face {
    font-family : 'serif';
    src : url('../fonts/C059-Italic.otf') format('opentype');
    font-weight : 400;
    font-style : italic;
}

@font-face {
    font-family : 'serif';
    src : url('../fonts/C059-Bold.otf') format('opentype');
    font-weight : 700;
}

@font-face {
    font-family : 'serif';
    src : url('../fonts/C059-BdIta.otf') format('opentype');
    font-weight : 700;
    font-style : italic;
}

@font-face {
    font-family : 'mono';
    src : url('../fonts/unifont-medium_light.ttf') format('truetype');
    font-weight : 400;
}

@font-face {
    font-family : 'mono';
    src : url('../fonts/TopazSemi.ttf') format('truetype');
    font-weight : 700;
}

@font-face {
    font-family : 'bookman';
    src : url('../fonts/URWBookman-Demi.otf') format('opentype');
    font-weight : 700;
}

@font-face {
    font-family : 'bookman';
    src : url('../fonts/URWBookman-DemiItalic.otf') format('opentype');
    font-style : italic;
    font-weight : 700;
}

@font-face {
    font-family : 'bookman';
    src : url('../fonts/URWBookman-Light.otf') format('opentype');
    font-weight : 400;
}

@font-face {
    font-family : 'bookman';
    src : url('../fonts/URWBookman-LightItalic.otf') format('opentype');
    font-weight : 400;
    font-style : italic;
}

*{
    margin : 0;
    padding : 0;
}

header{
    padding-top : 4px;
    top : 0;
    left : 0;
    width : 100%;
    font-size : 16px;
    color : #008;
    font-family : "mono";
    font-weight : bold;
    line-height : 16px;
    position : fixed;
    background-color : #88f;
    max-width : 100%;
    height : 24px;
    box-sizing : border-box;
}

header a {
    color : #008;
    margin-left : 8px;
    margin-right : 8px;
    text-decoration : none;
}
table{
    width : 100%;
}
table, th, td {
    padding : 6px;
  border: 1px solid;
}

span {
    display : inline-block;
}

img{
    max-width : 100%;
}

figure,blockquote {
    font-family:"mono";
    margin-top : 25px;
    margin-bottom : 39px;
    padding : 40px;
    width : 720px;
    max-width : 100%;
    background-color : #eee;
    color : #111;
    box-sizing : border-box;
}

body{
    max-width : 720px;
    margin : auto;
    padding : 7px;
}

body.hiver{
    background-color : #008;
    color : #aaf;
}

body.hiver hr{
    background-color : #aaf;
}

body.hiver p code{
    background-color : #aaf;
    color : #008;
}

body.hiver a{
    color : #aaf;
}

body.printemps{
    background-color : #080;
    color : #afa;
}

body.printemps p code{
    background-color : #afa;
    color : #080;
}

body.printemps hr{
    background-color : #afa;
}

body.printemps a{
    color : #afa;
}

body.ete{
    background-color : #d60;
    color : #ffc;
}

body.ete p code{
    background-color : #ffc;
    color : #f80;
}

body.ete hr{
    background-color : #ffc;
}

body.ete a{
    color : #ffc;
}

body.automne{
    background-color : #800;
    color : #faa;
}

body.automne p{
    color : #faa;
}

body.automne p code{
    background-color : #faa;
    color : #800;
}

body.automne hr{
    background-color : #faa;
}

body.automne a{
    color : #faa;
}

h1 {
    padding-top : 46px;
    font-size : 64px;
    margin-bottom : 39px;
    text-decoration : underline;
}

hr {
    margin-top : 21px;
    margin-bottom : 32px;
    border : none;
    height : 4px;
}

h2 {
    padding-top : 32px;
    font-size : 36px;
    margin-bottom : 25px;
}

h3{
    font-size : 24px;
    margin-top : 21px;
    padding-top : 15px;
    padding-bottom : 15px;
    margin-bottom : 14px;
    border-radius : 50%;
    border : solid 4px;
}

h1,h2,h3 {
    text-transform : capitalize;
    font-family : "bookman";
    text-align : center;
}

p,th {
    margin-top : 14px;
    font-family : "serif";
    line-height : 24px;
    font-size : 20px;
    margin-bottom : 14px;
}

a{
    font-family : "serif";
    line-height : 24px;
    font-size : 20px;
    text-decoration : none;
}

li a, p a, code a, td a{
    text-decoration : underline;
}

pre,code {
    text-align : center;
    font-size : 16px;
    line-height : 16px;
    font-family : "mono";
    text-decoration : none;
}

pre {
    font-weight : bold;
}
