<img src="1e_c_face.png">
<img src="1e_ch_face.png">
<img src="1e_ch_pile.png">
<img src="1e_c_pile.png">
<img src="1e_escalier.png">
<img src="1e_face.png">
<img src="1e_piece_face.png">
<img src="1e_piece_pile.png">
<img src="1e_salle-manger_0.png">
<img src="1e_salle-manger_1.png">
<img src="1e_salle-manger_2.png">
<img src="1e_salle-manger_3.png">
<img src="2-3e_escalier_face.png">
<img src="2-3e_escalier_pile.png">
<img src="2e_atelier_face.png">
<img src="2e_atelier_pile.png">
<img src="2e_c_face.png">
<img src="2e_ch0_face.png">
<img src="2e_ch0_pile.png">
<img src="2e_ch1_face.png">
<img src="2e_ch1_pile.png">
<img src="2e_c_pile.png">
<img src="2e_escalier_face.png">
<img src="2e_escalier_pile.png">
<img src="2e_sdb.png">
<img src="3e_c_face.png">
<img src="3e_ch0_face.png">
<img src="3e_ch0_pile.png">
<img src="3e_ch1_face.png">
<img src="3e_ch1_pile.png">
<img src="3e_ch2_face.png">
<img src="3e_ch2_pile.png">
<img src="3e_c_pile.png">
<img src="3e_face_face.png">
<img src="3e_hall_pile.png">
<img src="3e_sdb_douche_face.png">
<img src="3e_sdb_douche_pile.png">
<img src="3e_sdb_face.png">
<img src="3e_sdb_pile.png">
<img src="cour_appendice.png">
<img src="cour_depuis2e.png">
<img src="cour_facade.png">
<img src="facade.png">
<img src="grenier_face.png">
<img src="grenier_fonds.png">
<img src="grenier_pile.png">
<img src="rdc-1e_escalier.png">
<img src="rdc_entree_face.png">
<img src="rdc_entree_pile.png">
<img src="rdc_escalier.png">
<img src="rdc_piece0_face.png">
<img src="rdc_piece0_pile.png">
<img src="rdc_piece1_face.png">
<img src="rdc_piece1_pile.png">
<img src="rdc_piece2_face.png">
<img src="rdc_piece2_pile.png">
